.survol:hover {
  color: rgba(255,255,255,0.5) !important;
  text-decoration: none !important;
}

.navbar-toggler-icon {
  color: white !important;
}

.navbar-light .navbar-toggler {
  background-image: none !important;
}

